body {
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-color: #6b8cce;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  font-weight: 100;
  color: #4162a4;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

small {
  font-size: 12px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 200px 400px;
}

.weather-app {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  width: 450px;
}

.form-control {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  background-color: #6b8cce;
  border-color: #6b8cce;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.btn-primary:hover {
  background-color: #0c3483;
  border-color: #0c3483;
}

.float-left {
  float: left;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.weather-temperature strong {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #4162a4;
}

.weather-temperature small {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  top: -22px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.source-code {
  color: #ffffff;
  margin: 0 auto;
}
